.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: fit-content;
  justify-content: center;
}

.card {
  margin: 15px;
  text-align: center;
  outline: auto;
  /* padding: 20px; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.bet-head {
  text-align: center;
  background-color: skyblue;
}

.bet-header {
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-button {
  background-color: skyblue;
  font-weight: bolder;
  font-size: 15px;
  width: 100px;
  height: 40px;
}